<header>
    <div style="display: flex; justify-content: space-between; margin-left: 0.5em; margin-right: 0.5em;">
        <h1 style="text-decoration: none; cursor: pointer; margin-left: 0.5em;" onclick="location.href='/';">rikb.in</h1>
        <nav style="margin-top: auto; margin-bottom: auto; margin-right: 0.5em;">
            [
            <a href="https://twitter.com/riksucks">Twitter</a> /
            <a href="https://github.com/hrik2001">Github</a> /
            <a href="/assets/ResumeBlockchain.pdf" target="_blank">Resume</a> /
            <a href="/blogs">Blogs</a>
            ]
        </nav>
    </div>
    <div style="margin-left: 0.5em; margin-right: 0.5em;">
        <hr />
    </div>
</header>
