<!doctype html>
<link rel="stylesheet" type="text/css" href="{{'assets/css/yotsuba.css' | relative_url}}"></link>
<link href="{{'assets/css/syntax_yotsuba.css' | relative_url}}" rel="stylesheet">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include header.html %}
    <div id="page-body">
        <div style="text-align: center;">
            <h1>{{ page.title }}</h1>
            <p class="post-date">{{ page.date | date: "%b %d, %Y" }}</p>
            <div class="post-categories">
                Categories:
                {% for category in page.categories %}
                <span>{{ category }}</span>
                {% unless forloop.last %},{% endunless %}
                {% endfor %}
            </div>
            <hr>
        </div>
        {{content}}
    </div>
  </body>
</html>
