<!doctype html>
<link rel="stylesheet" type="text/css" href="{{'assets/css/yotsuba.css' | relative_url}}"></link>
<link href="{{'assets/css/syntax_yotsuba.css' | relative_url}}" rel="stylesheet">
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include header.html %}
    {{content}}
    <!--<div class="textbox">-->
      <!--<div class="textbox-bar">-->
        <!--<p>Hi</p>-->
      <!--</div>-->
      <!--<div class="textbox-content">-->
        <!--{{ content }}-->
      <!--</div>-->
    <!--</div>-->
  </body>
</html>
